/*#projLable {
    margin-top: 10px; /* Space between text and canvas 
}
*/

#titleScreen{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
}

#titleCanvas {
    display: block;
    background-color: rgb(252, 154, 241);
}


/* Button code: https://www.bestcssbuttongenerator.com/#/18*/


#namePrompt {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(216, 139, 139, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(39, 30, 39);
}
